body {
    background: #8E90A4;
    font-family: ubuntu,sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#mainHeader {
    font-size: 4rem;
}

#main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#gridContainer {
    border-style: solid;
    border-color: white;
    display: grid;
    padding: 3rem;

    grid-template-columns: 10rem 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
    grid-auto-rows: 12rem;



    column-gap: 1rem;
    row-gap: 1.5rem;
}

button {
    border-radius: .5em;
    height: 3rem;
    width: 10rem;
    background-color: #BC81BF;
    color: white;
    font-size: 1.5rem;
    box-shadow: 3px 3px 12px black;
}