body {
    background: #8E90A4;
    font-family: ubuntu,sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    padding: 0rem;
}

#leftSide {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

#rightSide {
    flex-grow: 1;
    background-color: #BC81BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px black;
}


h1 {
    text-shadow: 3px 3px 10px black;
    text-align: center;
}

#mainHeader {
    font-size: 4rem;
}

#main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#gridContainer {
    border-style: solid;
    border-width: 1rem;
    border-color: white;
    background: #DBDBDB;
    display: grid;
    padding: 3rem;
    margin: 2rem;
    box-shadow: 3px 3px 10px black;

    grid-template-columns: 15rem 15rem 15rem 15rem;
    grid-template-rows: 11rem 11rem 11rem;
    grid-auto-rows: 12rem;


    column-gap: 3rem;
    row-gap: 1.5rem;
}

.bookCard {
    border-style: solid;
    border-color: white;
    padding: 1rem;
    background-color: #BC81BF;
    box-shadow: 3px 3px 10px black;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardButton {
    height: 2rem;
    width: 5rem;
    margin-top: .3rem;
    color: white;
    font-size: 1rem;
}

.buttonDiv {
    display: flex;
    justify-content: space-evenly;
}

button {
    border-radius: .5em;
    height: 3rem;
    width: 10rem;
    background-color: #DBDBDB;
    color: white;
    font-size: 1.5rem;
    text-shadow: 3px 3px 10px black;
    box-shadow: 3px 3px 8px black;
}

#newBookForm {
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 2rem;
    gap: 1rem;
}

input {
    height: 1.5rem;
    width: 12rem;
}

#switchHouse {
    display: flex;
    gap: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.7rem;
    height: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.readSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7B8183;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.readSlider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: .1rem;
    bottom: .15rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .readSlider {
    background-color: #94D0FF;
  }

input:focus + .readSlider {
box-shadow: 0 0 1px #BC81BF;
}

input:checked + .readSlider:before {
-webkit-transform: translateX(2.2rem);
-ms-transform: translateX(2.2rem);
transform: translateX(2.2rem);
}

.readSlider.round {
    border-radius: 2.1rem;
}
  
.readSlider.round:before {
border-radius: 50%;
}

.footer {
    height: 100%;
    width: 100%;
    background-color: #94D0FF;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 0;
    box-shadow: 3px 3px 10px black;

}